body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container{
    width: 600px;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #000000;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.create-account h2{
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
}
.form-row{
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}
.input-group{
    margin-bottom: 15px;
    flex: 1;
}
label {
    display: block;
    margin-bottom: 5px;
    color: #000000;
    font-weight: bold;
}
input, select, textarea{
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #000000;
    width: 100%;
    font-size: 14px;
    box-sizing: border-box;   
}
input:focus, select:focus, textarea:focus {
    border: 1px solid #000000;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
textarea{
    resize: none;
}
button{
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}
button:hover{
    background-color: #444444;
}
#income {
    width: 80%;
}
#income-value{
    margin-left: 5px;
    font-weight: bold;
    color: #000000;
}
